node-red-full-flows.json
[
    {
        "id": "9b4101f9f2411af4",
        "type": "tab",
        "label": "Main flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "965a1eef6e6d521c",
        "type": "firebase modify",
        "z": "9b4101f9f2411af4",
        "name": "Register",
        "firebaseconfig": "",
        "childpath": "/Accounts",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 600,
        "y": 480,
        "wires": [
            [
                "8b6c1883fd743c46"
            ]
        ]
    },
    {
        "id": "c5bb7fd324614e58",
        "type": "ui_form",
        "z": "9b4101f9f2411af4",
        "name": "Register",
        "label": "",
        "group": "ba129ece6324a59c",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": "",
            "email": ""
        },
        "payload": "",
        "submit": "Create",
        "cancel": "Cancel",
        "topic": "",
        "topicType": "str",
        "splitLayout": "",
        "className": "",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "965a1eef6e6d521c"
            ]
        ]
    },
    {
        "id": "b8978ad1da8fdb41",
        "type": "firebase.on",
        "z": "9b4101f9f2411af4",
        "name": "Login",
        "firebaseconfig": "",
        "childpath": "/Accounts",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 350,
        "y": 220,
        "wires": [
            [
                "61a2a012ff651013"
            ]
        ]
    },
    {
        "id": "adb9049db2b81c0d",
        "type": "ui_form",
        "z": "9b4101f9f2411af4",
        "name": "Log in",
        "label": "",
        "group": "95471184d6797eb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "Log in ",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 350,
        "y": 340,
        "wires": [
            [
                "14ba377d5a46e818"
            ]
        ]
    },
    {
        "id": "14ba377d5a46e818",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Login check",
        "func": "var accounts= global.get(\"LIST_ACCOUNTS\")\nconsole.log(\"Accounts:\", accounts);\nvar user = msg.payload;\nconsole.log(user);\n\nvar loginSuccessful = Object.values(accounts).some(account => {\n   return account.username === user.username && account.password === user.password\n})\n\nif (loginSuccessful) {\n    msg = {\n        authen: 1,\n        topic: \"Login successful\",\n        payload: \"Login successful!!!\"\n    };\n} else {\n    msg = {\n        authen: 0,\n        topic: \"Try again\",\n        payload: \"Invalid username or password.\"\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "0405dd9fa6aa15a7"
            ]
        ]
    },
    {
        "id": "6b6705712e42bb51",
        "type": "change",
        "z": "9b4101f9f2411af4",
        "name": "Login successful",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\",\"tabs\":{\"show\":[\"Home\",\"History\"],\"hide\":[\"Login\",\"Register\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 300,
        "wires": [
            [
                "18a3d95000203419"
            ]
        ]
    },
    {
        "id": "acda92b8704ed074",
        "type": "ui_button",
        "z": "9b4101f9f2411af4",
        "name": "",
        "group": "95471184d6797eb7",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Want to join with us? Click here!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "cb389da17bad5bc2"
            ]
        ]
    },
    {
        "id": "cb389da17bad5bc2",
        "type": "change",
        "z": "9b4101f9f2411af4",
        "name": "forward to Register tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Register\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 560,
        "wires": [
            [
                "18a3d95000203419"
            ]
        ]
    },
    {
        "id": "346d867a4b41a628",
        "type": "ui_button",
        "z": "9b4101f9f2411af4",
        "name": "",
        "group": "ba129ece6324a59c",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Already have account? Log in!",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 430,
        "y": 640,
        "wires": [
            [
                "39ee09d08a8119eb"
            ]
        ]
    },
    {
        "id": "39ee09d08a8119eb",
        "type": "change",
        "z": "9b4101f9f2411af4",
        "name": "forward to Login tab",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Login\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 640,
        "wires": [
            [
                "18a3d95000203419"
            ]
        ]
    },
    {
        "id": "18a3d95000203419",
        "type": "ui_ui_control",
        "z": "9b4101f9f2411af4",
        "name": "",
        "events": "all",
        "x": 1140,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "61a2a012ff651013",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Save login",
        "func": "var accounts = msg.payload;\nglobal.set(\"LIST_ACCOUNTS\",accounts)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0405dd9fa6aa15a7",
        "type": "switch",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "authen",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "6b6705712e42bb51"
            ],
            [
                "40b0a0192510a0b0"
            ]
        ]
    },
    {
        "id": "40b0a0192510a0b0",
        "type": "ui_toast",
        "z": "9b4101f9f2411af4",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Login failed !!!",
        "name": "Login fail",
        "x": 920,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c263a084badb368b",
        "type": "ui_gauge",
        "z": "9b4101f9f2411af4",
        "name": "rác nhựa",
        "group": "931dbf822f431adf",
        "order": 3,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Rác nhựa",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 740,
        "wires": []
    },
    {
        "id": "f35d6dbfe106a99b",
        "type": "ui_gauge",
        "z": "9b4101f9f2411af4",
        "name": "rác KL",
        "group": "931dbf822f431adf",
        "order": 9,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Rác kim loại",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 840,
        "wires": []
    },
    {
        "id": "2c5822ab40840153",
        "type": "ui_gauge",
        "z": "9b4101f9f2411af4",
        "name": "rác hữu cơ",
        "group": "931dbf822f431adf",
        "order": 4,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Rác hữu cơ",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1110,
        "y": 920,
        "wires": []
    },
    {
        "id": "f9fa35c3bf6a5b87",
        "type": "ui_gauge",
        "z": "9b4101f9f2411af4",
        "name": "rác không tái chế",
        "group": "931dbf822f431adf",
        "order": 10,
        "width": 6,
        "height": 5,
        "gtype": "gage",
        "title": "Rác không tái chế",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#ffa200",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "ba4c4f2fe038d845",
        "type": "ui_gauge",
        "z": "9b4101f9f2411af4",
        "name": "",
        "group": "931dbf822f431adf",
        "order": 8,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Battery ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1120,
        "y": 1060,
        "wires": []
    },
    {
        "id": "842dcf9892afc955",
        "type": "mqtt in",
        "z": "9b4101f9f2411af4",
        "name": "",
        "topic": "intelbin/data",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ba25b7275e7b3474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 900,
        "wires": [
            [
                "3ae8c482faa3c5f9",
                "6a3b90188d699f49"
            ]
        ]
    },
    {
        "id": "3ae8c482faa3c5f9",
        "type": "json",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 860,
        "wires": [
            [
                "e6214a90f84ec07b",
                "f0c6a473debb35f8",
                "db2eef51eb0d9127",
                "2cbe9d9da0c456f5",
                "91ad73f3ecaa2fc2",
                "066230de720c01c7"
            ]
        ]
    },
    {
        "id": "6a3b90188d699f49",
        "type": "debug",
        "z": "9b4101f9f2411af4",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 940,
        "wires": []
    },
    {
        "id": "e6214a90f84ec07b",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse RTN",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.RTN\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 720,
        "wires": [
            [
                "c263a084badb368b",
                "3b6c7bc4c270a2a5"
            ]
        ]
    },
    {
        "id": "f0c6a473debb35f8",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse RKL",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.RKL\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 820,
        "wires": [
            [
                "f35d6dbfe106a99b",
                "9b451f580dcfe7c7"
            ]
        ]
    },
    {
        "id": "db2eef51eb0d9127",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse RHC",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.RHC\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 920,
        "wires": [
            [
                "2c5822ab40840153",
                "0f5dd2d08c9f411b"
            ]
        ]
    },
    {
        "id": "2cbe9d9da0c456f5",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse RKTC",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.RKTC\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 980,
        "wires": [
            [
                "f9fa35c3bf6a5b87",
                "553f5e78e5d1437c"
            ]
        ]
    },
    {
        "id": "91ad73f3ecaa2fc2",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse battery",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.battery\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1040,
        "wires": [
            [
                "ba4c4f2fe038d845"
            ]
        ]
    },
    {
        "id": "927e455633628090",
        "type": "inject",
        "z": "9b4101f9f2411af4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"tabs\":{\"show\":[\"Login\"],\"hide\":[\"Home\",\"History\",\"Register\"]}}",
        "payloadType": "json",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "17ef4c83e8cec631"
            ]
        ]
    },
    {
        "id": "17ef4c83e8cec631",
        "type": "ui_ui_control",
        "z": "9b4101f9f2411af4",
        "name": "",
        "events": "all",
        "x": 160,
        "y": 520,
        "wires": [
            [
                "c5bb7fd324614e58",
                "adb9049db2b81c0d",
                "acda92b8704ed074",
                "346d867a4b41a628"
            ]
        ]
    },
    {
        "id": "acbe9a1c89f42db5",
        "type": "ui_table",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "name": "Detailed trash data",
        "order": 1,
        "width": 14,
        "height": 13,
        "columns": [
            {
                "field": "time",
                "title": "Time",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "data",
                "title": "Data",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 830,
        "y": 1480,
        "wires": []
    },
    {
        "id": "2adc3292053f6866",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "function 2",
        "func": "var rawData = msg.payload;\nvar totalCounts = {\n    \"Rac thai nhua\": 0,\n    \"Rac kim loai\": 0,\n    \"Rac huu co\": 0,\n    \"Rac khong tai che\": 0\n};\nvar totalAllTypes = 0;\nvar detailedData = [];\n\nfor (var key in rawData) {\n    if (rawData.hasOwnProperty(key)) {\n        var entry = rawData[key];\n        entry.id = key;\n\n        var timestamp = entry.Time;\n        if (timestamp < 10000000000) {\n            timestamp *= 1000;\n        }\n\n        var date = new Date(timestamp);\n        var formattedDateTime = [\n            date.getDate().toString().padStart(2, '0'),\n            (date.getMonth() + 1).toString().padStart(2, '0'),\n            date.getFullYear().toString()\n        ].join('/') + ' ' + [\n            date.getHours().toString().padStart(2, '0'),\n            date.getMinutes().toString().padStart(2, '0'),\n            date.getSeconds().toString().padStart(2, '0')\n        ].join(':');\n        var dateKey = [date.getFullYear(), (date.getMonth() + 1).toString().padStart(2, '0'), date.getDate().toString().padStart(2, '0')].join('-');\n\n        detailedData.push({\n            id: key,\n            time: formattedDateTime,\n            data: entry.Type\n        });\n\n        if (entry.Type in totalCounts) {\n            totalCounts[entry.Type]++;\n            totalAllTypes++;\n\n    }\n}\n}\n\nmsg.payload = {\n    totalCounts: totalCounts,\n    totalAllTypes: totalAllTypes,\n    tableData: detailedData,\n};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1360,
        "wires": [
            [
                "0b487bfd1c797073",
                "be85c9caeb6423bf",
                "7c225ee194d01d2f",
                "86db97d7e7fa235a",
                "0ef17461ab44143f",
                "2bd0b9509b4022be",
                "e8ed95ad4b9055e2"
            ]
        ]
    },
    {
        "id": "77af589374b1cb11",
        "type": "firebase.on",
        "z": "9b4101f9f2411af4",
        "name": "Cloud recieve",
        "firebaseconfig": "",
        "childpath": "/History",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 130,
        "y": 1360,
        "wires": [
            [
                "2adc3292053f6866"
            ]
        ]
    },
    {
        "id": "29fa53a817a08065",
        "type": "firebase modify",
        "z": "9b4101f9f2411af4",
        "name": "push to firebase",
        "firebaseconfig": "",
        "childpath": "/History",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 580,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "6260208fe963f34a",
        "type": "mqtt in",
        "z": "9b4101f9f2411af4",
        "name": "",
        "topic": "waste/recognition",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ba25b7275e7b3474",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 1120,
        "wires": [
            [
                "ac646ee0efe59071"
            ]
        ]
    },
    {
        "id": "ac646ee0efe59071",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Trash data",
        "func": "msg.payload = {\n    Type: msg.payload,  // giả sử msg.payload là dữ liệu rác nhận được\n    Time: Date.now()  // thêm timestamp\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 1120,
        "wires": [
            [
                "29fa53a817a08065"
            ]
        ]
    },
    {
        "id": "3d808783af629d54",
        "type": "ui_button",
        "z": "9b4101f9f2411af4",
        "name": "",
        "group": "931dbf822f431adf",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Enable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 270,
        "y": 720,
        "wires": [
            [
                "2dadc8ac1c8c3add"
            ]
        ]
    },
    {
        "id": "b0a1896fed571de7",
        "type": "ui_button",
        "z": "9b4101f9f2411af4",
        "name": "",
        "group": "931dbf822f431adf",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Disable",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "num",
        "topic": "payload",
        "topicType": "msg",
        "x": 280,
        "y": 780,
        "wires": [
            [
                "923b9bdf48fe6888"
            ]
        ]
    },
    {
        "id": "0b487bfd1c797073",
        "type": "debug",
        "z": "9b4101f9f2411af4",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 1560,
        "wires": []
    },
    {
        "id": "066230de720c01c7",
        "type": "function",
        "z": "9b4101f9f2411af4",
        "name": "Parse status",
        "func": "var receivedObj = msg.payload\nvar temp = receivedObj.message\n\nmsg.payload = temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1120,
        "wires": [
            [
                "0a9642bd596821d7"
            ]
        ]
    },
    {
        "id": "0a9642bd596821d7",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "931dbf822f431adf",
        "order": 13,
        "width": 16,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1130,
        "y": 1120,
        "wires": []
    },
    {
        "id": "be85c9caeb6423bf",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "order": 3,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Rác thải nhựa",
        "format": "{{msg.payload.totalCounts[\"Rac thai nhua\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7c225ee194d01d2f",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "order": 4,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Rác kim loại",
        "format": "{{msg.payload.totalCounts[\"Rac kim loai\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 1300,
        "wires": []
    },
    {
        "id": "86db97d7e7fa235a",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "order": 5,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Rác hữu cơ",
        "format": "{{msg.payload.totalCounts[\"Rac huu co\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 1360,
        "wires": []
    },
    {
        "id": "0ef17461ab44143f",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "order": 6,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Rác không tái chế",
        "format": "{{msg.payload.totalCounts[\"Rac khong tai che\"]}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 630,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2bd0b9509b4022be",
        "type": "change",
        "z": "9b4101f9f2411af4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tableData",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 1480,
        "wires": [
            [
                "acbe9a1c89f42db5"
            ]
        ]
    },
    {
        "id": "e8ed95ad4b9055e2",
        "type": "ui_text",
        "z": "9b4101f9f2411af4",
        "group": "7092bc74ff25e695",
        "order": 2,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "Tổng lượng rác",
        "format": "{{msg.payload.totalAllTypes}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 1200,
        "wires": []
    },
    {
        "id": "2dadc8ac1c8c3add",
        "type": "mqtt out",
        "z": "9b4101f9f2411af4",
        "name": "enable",
        "topic": "intelbin/enable",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba25b7275e7b3474",
        "x": 490,
        "y": 720,
        "wires": []
    },
    {
        "id": "923b9bdf48fe6888",
        "type": "mqtt out",
        "z": "9b4101f9f2411af4",
        "name": "disable",
        "topic": "intelbin/disable",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ba25b7275e7b3474",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "3b6c7bc4c270a2a5",
        "type": "switch",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "95",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1020,
        "y": 700,
        "wires": [
            [
                "36866027a7e2d92e"
            ]
        ]
    },
    {
        "id": "ce88da57a9cd4b0a",
        "type": "http request",
        "z": "9b4101f9f2411af4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=yLLg44K4mPmL8QGuH1Cv&m=Th%C3%B9ng%20r%C3%A1c%20nh%E1%BB%B1a%20%C4%91%C3%A3%20%C4%91%E1%BA%A7y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "9b451f580dcfe7c7",
        "type": "switch",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "95",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 800,
        "wires": [
            [
                "0ffab2e8bfcd52da"
            ]
        ]
    },
    {
        "id": "d932acbeb7e041e2",
        "type": "http request",
        "z": "9b4101f9f2411af4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=yLLg44K4mPmL8QGuH1Cv&m=Th%C3%B9ng%20r%C3%A1c%20kim%20lo%E1%BA%A1i%20%C4%91%C3%A3%20%C4%91%E1%BA%A7y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0f5dd2d08c9f411b",
        "type": "switch",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "95",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 880,
        "wires": [
            [
                "6733d0d857e031c5"
            ]
        ]
    },
    {
        "id": "e73dc0574abc7bea",
        "type": "http request",
        "z": "9b4101f9f2411af4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=yLLg44K4mPmL8QGuH1Cv&m=Th%C3%B9ng%20r%C3%A1c%20h%E1%BB%AFu%20c%C6%A1%20%C4%91%C3%A3%20%C4%91%E1%BA%A7y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "553f5e78e5d1437c",
        "type": "switch",
        "z": "9b4101f9f2411af4",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "95",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 960,
        "wires": [
            [
                "9e968baa73453280"
            ]
        ]
    },
    {
        "id": "f459857589aa6fb1",
        "type": "http request",
        "z": "9b4101f9f2411af4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.pushsafer.com/api?k=yLLg44K4mPmL8QGuH1Cv&m=Th%C3%B9ng%20r%C3%A1c%20kh%C3%B4ng%20t%C3%A1i%20ch%E1%BA%BF%20%C4%91%C3%A3%20%C4%91%E1%BA%A7y",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1350,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "36866027a7e2d92e",
        "type": "delay",
        "z": "9b4101f9f2411af4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 700,
        "wires": [
            [
                "ce88da57a9cd4b0a"
            ]
        ]
    },
    {
        "id": "0ffab2e8bfcd52da",
        "type": "delay",
        "z": "9b4101f9f2411af4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 800,
        "wires": [
            [
                "d932acbeb7e041e2"
            ]
        ]
    },
    {
        "id": "6733d0d857e031c5",
        "type": "delay",
        "z": "9b4101f9f2411af4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 880,
        "wires": [
            [
                "e73dc0574abc7bea"
            ]
        ]
    },
    {
        "id": "9e968baa73453280",
        "type": "delay",
        "z": "9b4101f9f2411af4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 960,
        "wires": [
            [
                "f459857589aa6fb1"
            ]
        ]
    },
    {
        "id": "8b6c1883fd743c46",
        "type": "change",
        "z": "9b4101f9f2411af4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\": \"Log in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 480,
        "wires": [
            [
                "18a3d95000203419"
            ]
        ]
    },
    {
        "id": "8e1f61d420ba9dee",
        "type": "ui_spacer",
        "z": "9b4101f9f2411af4",
        "name": "spacer",
        "group": "931dbf822f431adf",
        "order": 1,
        "width": 16,
        "height": 1
    },
    {
        "id": "536813ae95c08c06",
        "type": "ui_spacer",
        "z": "9b4101f9f2411af4",
        "name": "spacer",
        "group": "931dbf822f431adf",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "4ddfe1294190b3c5",
        "type": "ui_spacer",
        "z": "9b4101f9f2411af4",
        "name": "spacer",
        "group": "931dbf822f431adf",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "ec127d64969c492e",
        "type": "ui_spacer",
        "z": "9b4101f9f2411af4",
        "name": "spacer",
        "group": "931dbf822f431adf",
        "order": 11,
        "width": 4,
        "height": 1
    },
    {
        "id": "38074649f8514ead",
        "type": "ui_spacer",
        "z": "9b4101f9f2411af4",
        "name": "spacer",
        "group": "931dbf822f431adf",
        "order": 12,
        "width": 4,
        "height": 1
    },
    {
        "id": "ba129ece6324a59c",
        "type": "ui_group",
        "name": "Register",
        "tab": "f020b0b91d08cf69",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "95471184d6797eb7",
        "type": "ui_group",
        "name": "Login",
        "tab": "d65502b1.ee517",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "931dbf822f431adf",
        "type": "ui_group",
        "name": "Home",
        "tab": "ab0ea9ee6b2716f2",
        "order": 2,
        "disp": false,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ba25b7275e7b3474",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "1, 1",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7092bc74ff25e695",
        "type": "ui_group",
        "name": "History",
        "tab": "b2f53884c6beb434",
        "order": 1,
        "disp": true,
        "width": 28,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f020b0b91d08cf69",
        "type": "ui_tab",
        "name": "Register",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d65502b1.ee517",
        "type": "ui_tab",
        "name": "Login",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ab0ea9ee6b2716f2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b2f53884c6beb434",
        "type": "ui_tab",
        "name": "History",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]